html, body { 
    margin: 0; 
    padding : 0;
    text-align: center; 
    
    overflow: hidden; 
    } 
ul{
    margin-block-start: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 0px;
}
.fonctionnement{
    text-align: left;
    padding: 0 5% 0 5%;
}