*{
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Shrikhand', cursive;

}
