#localization{
    height: 50px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.map{
    margin-right: 20px;
}
#title{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
    padding: 11%;
    .subtitle{
        margin-bottom: 25px;
        font-weight: 300;
    }
}
.fonctionnement{
    display: flex;
    flex-direction: column;

    ul{
        counter-reset: comptelist;
    }
}
.icn{
    margin-right: 15px;
    margin-left: 15px;
}

.btn-grey{
    border-radius: 50px;
    color: black;
    box-shadow: 0 0 5px #b3b3b3;
    width: 100%;
    font-size: 16px;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    background-color: #f6F6F6;

    &::before{
        counter-increment: comptelist 1;
        content: counter(comptelist) "";
        border-radius: 100%;
        background: #9356dc;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        color: white;
        align-items: center;
        transform: translate(-8px, 0px);
    }
}
.restaurant{
    display: flex;  
    background-color: #fafafa;
    flex-direction: column;
    .img-card{
        object-fit: cover;
        width: 100%;
        height: 190px;
        position: relative;    
    }
    .card-menu{
        height: 280px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 25px;
        box-shadow: 0 0 5px #b3b3b3;
        position: relative;
    }
    .legende-card{
        display: flex;
        height: 75px;
        .left{
            width: 80%;
            padding: 0% 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                margin:0;

            }
        }
        .coeur{
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
}